# Copyright (C) 2018 RDA Technologies Limited and/or its affiliates("RDA").
# All rights reserved.
#
# This software is supplied "AS IS" without any warranties.
# RDA assumes no responsibility or liability for the use of the software,
# conveys no license or title under any patent, copyright, or mask work
# right to the product. RDA reserves the right to make changes in the
# software without notification.  RDA also make no representation or
# warranty that such application will be suitable for the specified use
# without further testing or modification.

menu "at_cc"

config AT_CC_COMMAND_SUPPORT
    bool "AT_CC_COMMAND_SUPPORT enabled"
#   default n if SOC_8850  quectel modify.
    depends on QUEC_PROJECT_FEATURE_VOLTE #quectel add
	default n if SOC_8811
    default y
    select CC_COMMAND_SUPPORT
    help
        When enabled, some at command can be used, ie ATA

config AT_CC_COMMAND_DAILUP_SUPPORT
    bool "AT_CC_COMMAND_DAILUP_SUPPORTSUPPORT enabled"
	default y
    select CC_COMMAND_DAILUP_SUPPORT
    help
        When enabled, D and CDU command can be used, ie ATA

config DTMF_KEY_DETECT_SUPPORT
    bool "DTMF_KEY_DETECT_SUPPORT enabled"
    default n
    select AUDIO_CALL_KEYTONE_DETECT_SUPPORT
    help
        When enabled, CONFIG_DTMF_KEY_DETECT_SUPPORT will be defined
		

endmenu
